# 1 Data Importer

In [1]:
# packages gerais
import pandas as pd

# cities dataset
df_cities = pd.read_csv("C:/Users/yfreitas/Documents/pythonSamples/ProjectII/Files/cities.csv")
# product dataset
df_product = pd.read_csv("C:/Users/yfreitas/Documents/pythonSamples/ProjectII/Files/product.csv")
# forecast revenue dataset
df_forecast_revenue = pd.read_csv("C:/Users/yfreitas/Documents/pythonSamples/ProjectII/Files/forecast_revenue_real_data.csv")
# sales
df_sales = pd.read_csv("C:/Users/yfreitas/Documents/pythonSamples/ProjectII/Files/sales.csv")

C:\Users\yfreitas\AppData\Local\Temp\ipykernel_15092\145116388.py:11: DtypeWarning: Columns (11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sales = pd.read_csv("C:/Users/yfreitas/Documents/pythonSamples/ProjectII/Files/sales.csv")

### 1.1 Collecting the firsts basic information from the dataset

In [2]:
df_cities.head()

  store_id storetype_id  store_size city_id_old country_id city_code
0    S0036         ST04          21        C001     TURKEY   Denizli
1    S0005         ST04          19        C001     TURKEY   Denizli
2    S0104         ST04          47        C002     TURKEY    Ankara
3    S0068         ST03          14        C003     TURKEY     ?zmir
4    S0086         ST03          12        C003     TURKEY     ?zmir

In [3]:
df_cities.count()

store_id        63
storetype_id    63
store_size      63
city_id_old     63
country_id      63
city_code       63
dtype: int64

In [4]:
df_product.head()

,product_id,product_length,product_depth,product_width,cluster_id,hierarchy1_id,hierarchy2_id,hierarchy3_id,hierarchy4_id,hierarchy5_id
0,P0000,5.0,20.0,12.0,NaN,H00,H0004,H000401,H00040105,H0004010534
1,P0001,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006
2,P0002,22.0,40.0,22.0,cluster_0,H03,H0315,H031508,H03150800,H0315080028
3,P0004,2.0,13.0,4.0,cluster_3,H03,H0314,H031405,H03140500,H0314050003
4,P0005,16.0,30.0,16.0,cluster_9,H03,H0312,H031211,H03121109,H0312110917

In [5]:
df_product.count()

product_id        699
product_length    681
product_depth     683
product_width     683
cluster_id        649
hierarchy1_id     699
hierarchy2_id     699
hierarchy3_id     699
hierarchy4_id     699
hierarchy5_id     699
dtype: int64

In [6]:
df_forecast_revenue.head()

   Store       Date  fcst_revenue  WEEk
0  S0002  10/1/2019         739.0    40
1  S0002  10/2/2019         632.0    40
2  S0002  10/3/2019         597.0    40
3  S0002  10/4/2019         624.0    40
4  S0002  10/5/2019         999.0    40

In [7]:
df_forecast_revenue.count()

Store           1943
Date            1943
fcst_revenue    1943
WEEk            1943
dtype: int64

In [8]:
df_sales.head()

,Unnamed: 0,store_id,product_id,date,sales,revenue,stock,price,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2
0,1,S0002,P0001,2017-01-02,0.0,0.00,8.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN
1,2,S0002,P0005,2017-01-02,0.0,0.00,11.0,33.90,PR14,NaN,PR03,NaN,NaN,NaN
2,3,S0002,P0011,2017-01-02,0.0,0.00,9.0,49.90,PR14,NaN,PR03,NaN,NaN,NaN
3,4,S0002,P0015,2017-01-02,1.0,2.41,19.0,2.60,PR14,NaN,PR03,NaN,NaN,NaN
4,5,S0002,P0017,2017-01-02,0.0,0.00,12.0,1.49,PR14,NaN,PR03,NaN,NaN,NaN

In [9]:
df_sales.count()

Unnamed: 0               8886058
store_id                 8886058
product_id               8886058
date                     8886058
sales                    8583762
revenue                  8583762
stock                    8583762
price                    8794677
promo_type_1             8886058
promo_bin_1              1232543
promo_type_2             8886058
promo_bin_2                12721
promo_discount_2           12721
promo_discount_type_2      12721
dtype: int64

### Add in temporary files to be possible use that in the following notebooks

In [10]:
import joblib

joblib.dump(df_sales, 'df_sales.pkl')
joblib.dump(df_cities, 'df_cities.pkl')
joblib.dump(df_product, 'df_product.pkl')
joblib.dump(df_forecast_revenue, 'df_forecast_revenue.pkl')

['df_forecast_revenue.pkl']