In [5]:
import joblib

df_sales = joblib.load('df_sales.pkl')
df_product = joblib.load('df_product.pkl')
df_cities = joblib.load('df_cities.pkl')
df_forecast_revenue = joblib.load('df_forecast_revenue.pkl')

# 1 Understanding sales info

In [8]:
df_sales.describe()

,Unnamed: 0,sales,revenue,stock,price,promo_discount_2
count,8.886058e+06,8.583762e+06,8.583762e+06,8.583762e+06,8.794677e+06,12721.000000
mean,4.443030e+06,4.734080e-01,2.285173e+00,1.600575e+01,1.575377e+01,30.110605
std,2.565184e+06,2.129059e+01,5.406806e+01,3.751692e+01,3.277869e+01,11.850900
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e-02,16.000000
25%,2.221515e+06,0.000000e+00,0.000000e+00,4.000000e+00,3.450000e+00,20.000000
50%,4.443030e+06,0.000000e+00,0.000000e+00,8.000000e+00,8.000000e+00,20.000000
75%,6.664544e+06,0.000000e+00,0.000000e+00,1.700000e+01,1.695000e+01,35.000000
max,8.886058e+06,4.330100e+04,8.419796e+04,4.655000e+03,1.599000e+03,50.000000